<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite Colombia</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8885ab">  <td>20/02/09 23:25:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testBase.AbrirApp(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:Pkg_Search_Product_Shoes_Android.Cls_Search_Product_Shoes_Android@489115ef]">&gt;&gt;AbrirApp</td> 
<td>&nbsp;</td>  <td>main@2003891312</td>   <td></td> </tr>
<tr bgcolor="bbffcd">  <td>20/02/09 23:25:49</td>   <td>10089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cls_Search_Product_Shoes_Android.Search_Product_Shoes_Android(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:Pkg_Search_Product_Shoes_Android.Cls_Search_Product_Shoes_Android@489115ef]">Search_Product_Shoes_Android</td> 
  <td>main@2003891312</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>20/02/09 23:26:22</td>   <td>42900</td> <td title="&lt;&lt;testBase.finish(org.testng.ITestContext)[pri:0, instance:Pkg_Search_Product_Shoes_Android.Cls_Search_Product_Shoes_Android@489115ef]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2003891312</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>20/02/09 23:26:21</td>   <td>42560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testBase.finishMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:Pkg_Search_Product_Shoes_Android.Cls_Search_Product_Shoes_Android@489115ef]">&lt;&lt;finishMethod</td> 
<td>&nbsp;</td>  <td>main@2003891312</td>   <td></td> </tr>
<tr bgcolor="8885ab">  <td>20/02/09 23:25:38</td>   <td>-748</td> <td title="&gt;&gt;testBase.suite()[pri:0, instance:Pkg_Search_Product_Shoes_Android.Cls_Search_Product_Shoes_Android@489115ef]">&gt;&gt;suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2003891312</td>   <td></td> </tr>
</table>
